.heroSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.heroImgSection img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px #fff;
    transition: all 1s ease 0s;
}
.heroImgSection img:hover {
    transform: scalex(-1);
}
.heroImgSection h2 {
    color: #fff;
    font-size: 32px;
}
.heroJobTitle {
    color: #fff;
    font-size: 22px;
    color: rgb(226, 152, 68);
}
.heroLinks {
    list-style-type: none;
    margin: 20px;
}
.heroLinks li{
    display: inline-block;
    margin: 0px 5px;
}
.heroLinks li a {
    color: #569CD6;
}
.heroIntro {
    text-align: justify;
    padding: 0px 80px;
    font-size: 26px;
    color: #fff;
}
.heroIntroGreeting {
    font-size: 28px;
    color: #569CD6;
}
  @media only screen and (max-width: 1024px) {
    .heroSectionWrapper {
        padding: 30px 40px;
    }
    .heroIntro {
        padding: 0px 40px;
        font-size: 24px;
    }
  }
  @media only screen and (max-width: 768px) {
    .heroSectionWrapper {
        padding: 20px 40px;
    }
    .heroIntro {
        padding: 0px;
        font-size: 22px;
    }

  }
  @media only screen and (max-width: 480px) {
    .heroSectionWrapper {
        padding: 20px 20px;
    }
    .heroIntro {
        padding: 0px;
        font-size: 20px;
    }

  }